VITE_API_BASE_URL=https://backend2.owct.me
VITE_APP_NAME=Owncart
VITE_BELONGS_TO=69b256ec99b143835b75ee69

# API Domain Paths
VITE_AUTH_API=/customer
VITE_CUSTOMER_API=/customer
VITE_CATEGORY_API=/category
VITE_PRODUCT_API=/item
VITE_CART_API=/cart
VITE_ORDER_API=/order
VITE_ADDRESS_API=/customer
VITE_STORE_API=/organization
VITE_LOCATION_API=/location
VITE_PAYMENT_API=/payment
VITE_REWARDS_API=/rewards
VITE_UPLOAD_API=/upload
VITE_BANNER_API=/banner
VITE_COUPON_API=/discount
VITE_SETTING_API=/setting

# Additional Configs
VITE_SOCKET_URL=https://backend2.owct.me
VITE_IMAGE_BASE_URL=https://backend2.owct.me/images
VITE_GOOGLE_MAP_API_KEY=
